<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-2">
  <div class="container-fluid">
    <div class="side-nav-button p-2 me-3" (click)="isCollapsed()">
        <a class="pointer">
 <i class="fa-solid fa-bars"></i>
        </a>
          
    </div>
    <a class=" navbar-brand px-4 fw-bolder" href="#">
     Loveth
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="float-end collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu  dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul> -->

      <div class="dropstart ms-auto profile-logo mx-2">
<a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Sign Up</a></li>
    <li><a class="dropdown-item" href="#">Log In</a></li>
    <li><a class="dropdown-item" href="#">Your Profile</a></li>
    <li><a class="dropdown-item" href="#">Log Out</a></li>
  </ul>
</div>
    </div>
  </div>
</nav>