<section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap ">
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Home</li>
            </ol>
          </nav>
 
          <main>
          <div class="card">
           <div class="row m-5">
            <div class="col-6">
              <div class="p-3 card-heading-text ">
                 <h2 class="h2">Fresh Foods a Click Away</h2>
                 <p class="sub-title">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ipsa!
                 </p>
              </div>
            </div>
            <div class="col-6">
              
            </div>
           </div>
          </div>
          </main>