app-header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;
    z-index: 2;
}

main{
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}


.display-area {
    position: absolute;
    left: 17rem;
    top: 5rem;
    width: calc(100% - 18rem);
    padding: 1rem;
    transition: all .3s ease;
}

.display-area-collapsed {
    position: absolute;
    left: 7rem;
    top: 5rem;
    width: calc(100% - 7rem);
    padding: 1rem;
    transition: all .3s ease;
}