<section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap ">
              <li class="breadcrumb-item"><a class="text-nowrap" href="home-grocery-store.html">Home</a></li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Home</li>
            </ol>
          </nav>
          <!-- Content-->
          <!-- Sorting-->
          <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">
            <h1 class="h2 mb-3 mb-md-0 me-3">Products</h1>
            <div class="d-flex align-items-center">
              <div class="d-none d-sm-block py-2 fs-sm text-muted text-nowrap me-2">Sort by:</div>
              <ul class="nav nav-tabs fs-sm mb-0">
                <li class="nav-item"><a class="nav-link active" href="#">Popular</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Cheap</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Expensive</a></li>
              </ul>
            </div>
          </section>
     <main>

  <div class="album py-5">
    <div class="container">

      <div class="row g-3">
        <div class="col-lg-3 col-md-6"  *ngFor="let product of products$">
          <div class="card product-card" [routerLink]="product.route">
           <div class="card-img-top p-2">
            <span class="card-like material-symbols-outlined">favorite</span><img [src]="product.imageUrl" alt="th01" class="bd-placeholder-img" >
           </div>

            <div class="card-body">
              <p class="card-text">{{product.description}}</p>
              <p class="card-product-name p-0 m-0">{{product.name}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="price-tag mt-3">
                <p class="card-product-price d-inline-block" >{{product.price}}</p> <span class="card-product-price-decimal p-0 m-0 d-inline-block">99</span>
              </div>
                <button class="btn btn-primary"><span class="material-symbols-outlined">add</span><span class="material-symbols-outlined">shopping_cart</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer & Pagunation -->
  <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
              </ul>
              <ul class="pagination">
                <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
                <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">2</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">3</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">4</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">5</a></li>
              </ul>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
              </ul>
            </nav>

</main>
