<div class="sidenav" [ngClass]="collapsed ? 'shrink': '' ">
<div class="navbar-brand" *ngIf="!collapsed">
    Categories
</div>

<hr class="hr">

    <ul class="sidenav-nav mb-auto">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" routerLink='{{data.route}}' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span class="material-symbols-outlined sidenav-link-icon">
{{data.icon}}
</span>
                    <span class="sidenav-link-text" *ngIf="!collapsed">{{data.description}}</span>
            </a>
        </li>
        
    </ul>
    <div class="bottom w-75">
    <hr class="hr ">
    <div class="dropdown ms-2">
      <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong *ngIf="!collapsed">mdo</strong>
      </a>
      <ul class="dropdown-menu border-0 text-small shadow">
        <li><a class="dropdown-item" href="#">New product...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
            
    </div>
</div>