<section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap">
              <li class="breadcrumb-item"><a class="text-nowrap" routerLink="/home"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a routerLink="/product">Products</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Single product</li>
            </ol>
          </nav>
          <!-- Content-->
          <!-- Product Gallery + description-->
          <section class="row g-0 mx-n2 pb-5 mb-xl-3">
            <div class="col-xl-7 px-2 mb-3">
              <div class="card h-100 rounded-3 p-4">
                <div class="product-gallery">
                  <div class="product-gallery-preview order-sm-2">
                    <div class="product-gallery-preview-item active" id="first"><img src="assets/img/th01.jpg" alt="Product image" class="product-large-image"></div>
                    <div class="product-gallery-preview-item" id="second"><img src="assets/img/th01.jpg" alt="Product image" class="product-large-image"></div>
                    <div class="product-gallery-preview-item" id="third"><img src="assets/img/th01.jpg" alt="Product image" class="product-large-image"></div>
                  </div>
                  <div class="product-gallery-thumblist order-sm-1"><a class="product-gallery-thumblist-item active" href="#first"><img src="assets/img/th01.jpg" alt="Product thumb" class="thumb"></a><a class="product-gallery-thumblist-item" href="#second"><img src="assets/img/th01.jpg" alt="Product thumb"  class="thumb"></a><a class="product-gallery-thumblist-item" href="#third"><img src="assets/img/th01.jpg" alt="Product thumb"  class="thumb"></a></div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 px-2 mb-3">
              <div class="card h-100 rounded-3 py-5 px-4 px-sm-5"><a class="product-meta d-block fs-sm pb-2" href="#">Packets, Cereals</a>
                <h1 class="h2">Muesli Fitness Nutritious Energy, Gluten Free (500g)</h1>
                <div class="h2 fw-normal card-product-price">$4.<small>99</small></div>
                <div class="d-flex flex-wrap align-items-center pt-4 pb-2 mb-3">
                  <select class="form-select me-3" style="width: 5rem;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <button class="btn btn-custom d-flex align-items-center"><span class="material-symbols-outlined">shopping_cart</span> Add to cart</button>
                  <button class="btn btn-light px-2 py-1" type="submit" data-bs-toggle="tooltip" aria-label="Add to Wishlist" data-bs-original-title="Add to Wishlist"><span class="material-symbols-outlined">favorite</span></button>
                </div>
                <h6>Product description</h6>
                <ul class="list-unstyled fs-sm pt-2 mb-0">
                  <li><span class="material-symbols-outlined">task_alt</span>Natural ingredients</li>
                  <li><span class="material-symbols-outlined">task_alt</span>No dyes and flavor enhancers</li>
                  <li><span class="material-symbols-outlined">task_alt</span>Gluten free</li>
                  <li><span class="material-symbols-outlined">task_alt</span>Vitamins B2, B3, B5 and B6</li>
                  <li><span class="material-symbols-outlined">task_alt</span>Tastes better with milk</li>
                </ul>
              </div>
            </div>
          </section>
          <!-- Related products-->

        </div>
      </section>
